.App {
  background-image: url("./assets/images/background/Lebron James.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.LandingPage {
  & form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & input {
      outline: none;
      color: white;
      width: 600px;
      padding: 0.5em;
      border-radius: 10px;
      border: solid lightgray 1px;
      margin: 1em 0;
      background-color: rgba(211, 211, 211, 0.2);
      font-size: 1.5em;
    }

    & button {
      outline: none;
      border: 1px grey solid;
      border-radius: 10px;
      padding: 0.5em;
      font-size: 1.25em;
      width: 50%;
      background-color: grey;
    }
  }
}
