@import "./scss/landingPage.scss";
@import "./scss/slider.scss";

.App {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.logo {
  color: white;
}
