@import "./scss/landingPage.scss";
@import "./scss/slider.scss";

.App {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2em;
  color: white;
  margin-left: 1em;
}

.navigation {
  &__list {
    &-element {
      font-size: 1.5em;
      display: inline;
      margin-left: 1em;

      & .anchor {
        text-decoration: none;
        color: white;
      }
      &:last-of-type {
        margin-right: 1em;
      }
    }
  }
}
